body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  #tabuleiro-jogo {
    display: inline-block;
    margin-top: 20px;
  }
  
  .linha {
    display: flex;
  }
  
  .casa {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  
  #reiniciar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  